<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboolmc.zhiqu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.bamboolmc.library.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_baoxue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MovieDetailActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TestActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieDetailActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieStarActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieInformationActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieTopicActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieLongCommentActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieProCommentActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieResourceActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".base.BaseWebViewActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieSoundActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MtMovieVideoActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>